# build dirs
cmake-build-*/
build*/

.cache*/

compile_commands.json

CMakeFiles/
CMakeCache.txt

# ide files
.idea/
*.iml
.vscode*/
.vs*/

.venv*/
.envrc

.DS_Store
Thumbs.db

*.exe
*.out
*.app

*.o
*.obj
*.bin

*.tmp
