# force LF line endings
*.cpp  text eol=lf
*.h    text eol=lf
*.c    text eol=lf
*.hpp  text eol=lf
*.py   text eol=lf
*.sh   text eol=lf
*.txt  text eol=lf
*.asm  text eol=lf

# handle binaries
*.png  binary
*.jpg  binary
*.exe  binary
*.dll  binary
